.chatContainer {
  display: flex !important;
  flex-direction: column !important;
  width: 200px !important;
  height: 100% !important;
  background-color: unset !important;
}

.liveChatContainer {
  display: none;
}

.chatIncomingWrapper {
  position: absolute;
  width: 100%;
  display: flex;
}

.chatIncomingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  border-radius: 50px;
  cursor: pointer;
}

.chatContent {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  font-size: 16px;
}

.chatArea {
  width: 100% !important;
  height: 23vh !important;
  overflow: auto !important;
  display: flex;
  flex-flow: column-reverse nowrap;
  height: 85%;
  margin-top: 0;
}

.liveChatPinnedMessage .chatArea {
  height: auto !important;
}

.chatArea::-webkit-scrollbar {
  width: 0;
}

.chatBubble {
  max-width: 250px;
  width: auto;
  background-color: rgba(20, 20, 21, 0.4);
  color: #ffffff;
  display: inline-block;
  border-radius: 20px;
  padding: 3px 12px;
  margin: 3px 0;
  border-bottom: none;
}

.chatBubbleAdmin {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  color: #323845;
}

.profileIcon {
  display: none;
}

.profileIcon svg {
  margin-left: .5rem;
}

.chatUser {
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
}

.inputChatContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.inputContent {
  flex: 0 1 90%;
}

.inputContent label {
  width: 100%;
  margin-bottom: 0;
}

.inputContent label div input {
  width: 100%;
  border-radius: 1.4rem 0 0 1.4rem;
  border: 1px solid;
  border-color: #e3e4e6;
  height: 40px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.buttonConetnt {
  width: 40px;
  height: 40px;
}

.chatBubbleContainer {
  width: 100%;
}

.chatLayout {
  display: flex;
  width: 100%;
  align-items: center;
}

.chatTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.chatMessage {
  word-break: break-word;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

.chatMessage svg {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.inputTextChat {
  background-color: rgba(20, 20, 21, 0.4);
  border-radius: 20px 0px 0px 20px;
  box-shadow: none;
  border: 0;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  margin: 0;
  outline: none;
  flex: 1 1 auto;
  min-width: 0;
  width: 140px;
  font: 400 16px Arial !important;
  height: 40px;
  box-sizing: border-box;
}

.inputTextChat:focus {
  font-size: 16px;
}

.inputTextChat::placeholder {
  color: #ffffff;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 20px 20px 0px;
  background: rgba(20, 20, 21, 0.4);
  padding-right: 15px;
  color: #ffffff;
  height: 40px;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.buttonsChat {
  display: flex;
  flex-direction: row;
}

.gifIconContainer {
  display: flex;
  border-top: 2px solid #e3e4e6;
  border-bottom: 2px solid #e3e4e6;
}

.gifIconContainer svg {
  margin: auto;
  padding: 0 0.5rem;
}

@media screen and (min-width: 930px) {
  .chatContainer {
    justify-content: space-between;
    background: #f8f7fc !important;
    width: 100% !important;
  }

  .liveChatContainer {
    display: flex !important;
    flex-direction: column !important;
  }

  .liveChatHeader {
    display: flex !important;
    align-items: center !important;
    padding: 0 6px !important;
    height: 56px !important;
  }

  .liveChatPinnedMessage {
    width: 100% !important;
  }

  .liveChatPinnedMessage .chatBubble {
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  }

  .liveChatText {
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
    color: #323845;
    line-height: 20px;
  }

  .chatContent {
    flex: 1 !important;
    font-size: 16px;
    height: 84%;
  }

  .chatArea {
    flex: 1;
    height: calc(100vh - 169px) !important;
    overflow-y: scroll !important;
  }

  .chatArea img{
    border-radius: 5px;
  }

  .chatArea::-webkit-scrollbar {
    width: 4px;
  }

  .chatArea::-webkit-scrollbar-thumb {
    background: #888;
  }

  .chatArea::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .chatLayout {
    flex-direction: column;
  }

  .chatBubble {
    background-color: #ffffff;
    word-wrap: break-word;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    color: #323845;
    display: flex;
    max-width: 100%;
    border-radius: 6px;
    margin: 6px 10px;
    padding: 10px;
  }

  .chatBubbleAdmin {
    background: #2c313c !important;
    color: #ffffff;
  }

  .profileIcon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .initialName {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px !important;
    font-weight: 100 !important;
  }

  .chatUser {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
  }

  .inputChatContent {
    margin: 0;
    padding: 0.5rem;
  }

  .inputContent label div {
    margin-right: 0;
  }

  .inputContent label div input {
    border-bottom: 1px solid gray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    font-size: 16px;
    height: 50px;
    padding-left: 0.5rem;
    padding-right: 0;
  }

  .inputContent {
    flex: 0 1 calc(90% - 0.4rem);
  }

  .chatMessage {
    font-size: 16px;
    margin-top: 4px;
  }

  .inputTextChat {
    outline: none;
    box-shadow: none;
    border: 2px solid #e3e4e6;
    color: rgb(59, 59, 59);
    padding: 1px 16px;
    height: 40px;
    width: 100%;
    max-width: 100%;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    cursor: text;
    background-color: rgb(255, 255, 255);
  }

  .inputTextChat::placeholder {
    color: rgb(118, 118, 118);
  }

  .btn {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #134cd8;
    font-weight: bolder;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    text-decoration: none;
    border: 0;
    border-radius: 0 2px 2px 0;
    padding: 0px;
  }

  .btn:hover {
    cursor: pointer;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .gifIconContainer {
    display: flex;
    height: 40px;
    background-color: rgba(20, 20, 21, 0.4);
    border: none;
    color: #fff;
  }

  .activeChatCarousel {
    bottom: 140px;
    position: absolute;
  }
}
