.chatContainer {
  display: flex !important;
  flex-direction: column !important;
  width: 200px !important;
  height: 100% !important;
  background-color: unset !important;
}

.liveChatContainer {
  display: none;
}

.chatIncomingWrapper {
  position: absolute !important;
  width: 100% !important;
  display: flex !important;
}

.chatIncomingContainer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
  width: 90% !important;
  border-radius: 50px !important;
  cursor: pointer !important;
}

.chatContent {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  font-size: 16px !important;
}

.chatArea {
  width: 100% !important;
  height: 23vh !important;
  overflow: auto !important;
  display: flex !important;
  flex-flow: column-reverse nowrap !important;
  height: 85% !important;
  margin-top: 0 !important;
}

.messagesContainer .liveChatPinnedMessage .chatArea {
  height: auto !important;
}

.chatArea::-webkit-scrollbar {
  width: 0 !important;
}

.chatBubble {
  max-width: 250px !important;
  width: auto !important;
  background-color: rgba(20, 20, 21, 0.4) !important;
  color: #ffffff !important;
  display: inline-block !important;
  border-radius: 20px !important;
  padding: 3px 12px !important;
  margin: 3px 0 !important;
  border-bottom: none !important;
}

.chatBubbleAdmin {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 8px !important;
  color: #323845 !important;
}

.profileIcon {
  display: none;
}

.profileIcon svg {
  margin-left: .5rem;
}

.chatUser {
  font-size: 13px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
}

.inputChatContent {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-top: 1rem !important;
}

.inputContent {
  flex: 0 1 90% !important;
}

.inputContent label {
  width: 100% !important;
  margin-bottom: 0 !important;
}

.inputContent label div input {
  width: 100% !important;
  border-radius: 1.4rem 0 0 1.4rem !important;
  border: 1px solid !important;
  border-color: #e3e4e6 !important;
  height: 40px !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.buttonConetnt {
  width: 40px;
  height: 40px;
}

.chatBubbleContainer {
  width: 100% !important;
}

.chatLayout {
  display: flex !important;
  width: 100% !important;
  align-items: center !important;
}

.chatTextContainer {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  width: 100% !important;
}

.chatMessage {
  word-break: break-word !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 24px !important;
  letter-spacing: -0.02em !important;
  font-feature-settings: 'tnum' on, 'lnum' on !important;
}

.chatMessage svg {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.inputTextChat {
  background-color: rgba(20, 20, 21, 0.4) !important;
  border-radius: 20px 0px 0px 20px !important;
  box-shadow: none !important;
  border: 0 !important;
  color: #ffffff !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 0 !important;
  margin: 0 !important;
  outline: none !important;
  flex: 1 1 auto !important;
  min-width: 0 !important;
  width: 140px !important;
  font: 400 16px Arial !important;
  height: 40px !important;
  box-sizing: border-box !important;
}

.inputTextChat:focus {
  font-size: 16px !important;
}

.inputTextChat::placeholder {
  color: #ffffff !important;
}

.btn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 0px 20px 20px 0px !important;
  background: rgba(20, 20, 21, 0.4) !important;
  padding-right: 15px !important;
  color: #ffffff !important;
  height: 40px !important;
  border: none !important;
}

.btn:hover {
  cursor: pointer !important;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 1);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border-left-color: transparent;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.buttonsChat {
  display: flex !important;
  flex-direction: row !important;
}

.gifIconContainer {
  display: flex !important;
  border-top: 2px solid #e3e4e6 !important;
  border-bottom: 2px solid #e3e4e6 !important;
}

.gifIconContainer svg {
  margin: auto !important;
  padding: 0 0.5rem !important;
}

@media screen and (min-width: 930px) {
  .chatContainer {
    justify-content: space-between !important;
    background: #f8f7fc !important;
    width: 100% !important;
  }

  .liveChatContainer {
    display: flex !important;
    flex-direction: column !important;
  }

  .liveChatHeader {
    display: flex !important;
    align-items: center !important;
    padding: 0 6px !important;
    height: 56px !important;
  }

  .messagesContainer .liveChatPinnedMessage {
    width: 100% !important;
  }

  .messagesContainer .liveChatPinnedMessage .chatBubble {
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%) !important;
  }

  .liveChatText {
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
    color: #323845;
    line-height: 20px;
  }

  .chatContent {
    flex: 1 !important;
    font-size: 16px !important;
    height: 84% !important;
  }

  .chatArea {
    flex: 1 !important;
    height: calc(100vh - 169px) !important;
    overflow-y: scroll !important;
  }

  .chatArea img{
    border-radius: 5px !important;
  }

  .chatArea::-webkit-scrollbar {
    width: 4px !important;
  }

  .chatArea::-webkit-scrollbar-thumb {
    background: #888 !important;
  }

  .chatArea::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
  }

  .chatLayout {
    flex-direction: column !important;
  }

  .chatBubble {
    background-color: #ffffff !important;
    word-wrap: break-word !important;
    position: relative !important;
    border-bottom: 1px solid #e0e0e0 !important;
    color: #323845 !important;
    display: flex !important;
    max-width: 100% !important;
    border-radius: 6px !important;
    margin: 6px 10px !important;
    padding: 10px !important;
  }

  .chatBubbleAdmin {
    background: #2c313c !important;
    color: #ffffff !important;
  }

  .profileIcon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .initialName {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px !important;
    font-weight: 100 !important;
  }

  .chatUser {
    margin-left: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
  }

  .inputChatContent {
    margin: 0 !important;
    padding: 0.5rem !important;
  }

  .inputContent label div {
    margin-right: 0 !important;
  }

  .inputContent label div input {
    border-bottom: 1px solid gray !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    font-size: 16px !important;
    height: 50px !important;
    padding-left: 0.5rem !important;
    padding-right: 0 !important;
  }

  .inputContent {
    flex: 0 1 calc(90% - 0.4rem) !important;
  }

  .chatMessage {
    font-size: 16px !important;
    margin-top: 4px !important;
  }

  .inputTextChat {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #e3e4e6 !important;
    color: rgb(59, 59, 59) !important;
    padding: 1px 16px !important;
    height: 40px !important;
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 2px 0 0 2px !important;
    box-sizing: border-box !important;
    cursor: text !important;
    background-color: rgb(255, 255, 255) !important;
  }

  .inputTextChat::placeholder {
    color: rgb(118, 118, 118) !important;
  }

  .btn {
    height: 40px !important;
    width: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: #ffffff !important;
    background: #134cd8 !important;
    font-weight: bolder !important;
    text-align: center !important;
    line-height: 36px !important;
    font-size: 14px !important;
    text-decoration: none !important;
    border: 0 !important;
    border-radius: 0 2px 2px 0 !important;
    padding: 0px !important;
  }

  .btn:hover {
    cursor: pointer !important;
  }

  .spinner {
    height: 20px;
    width: 20px;
  }
}

.messagesContainer {
  flex: 1 1;
  height: calc(100vh - 169px) !important;
  overflow-y: hidden !important;
  display: contents;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .gifIconContainer {
    display: flex !important;
    height: 40px !important;
    background-color: rgba(20, 20, 21, 0.4) !important;
    border: none !important;
    color: #fff !important;
  }

  .activeChatCarousel {
    bottom: 140px;
    position: absolute;
    flex: unset;
    height: auto !important;
    display: block;
  }

  .activeChatCarousel .chatArea{
    height: 13vh !important;
  }
  .activeChatCarousel .liveChatPinnedMessage .chatArea {
    height: auto !important;
  }
  .chatIncomingWrapper {
    width: 200px !important;
  }

  .messagesContainer {
    min-width: 200px;
  }
}
