.chatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: unset;
}

.liveChatContainer {
  display: none;
}

.chatContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.chatArea {
  width: 100%;
  height: 23vh;
  overflow: auto;
}

.chatArea::-webkit-scrollbar {
  width: 0;
}

.chatBubble {
  display: flex;
  padding: .5rem 1rem;
  margin: .4rem 0;
  border-radius: 1rem;
  background-color: rgba(128, 128, 128, 0.3);
  color: white;
  border-bottom: none;
}

.profileIcon {
  display: none;
}

.chatTextContainer {
  display: flex;
  flex-direction: column;
}

.chatUser {
  font-weight: 600;
}

.chatMessage {
  margin-top: .3rem;
}

.inputChatContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.inputContent {
  flex: 0 1 90%;
}

.inputContent label {
  width: 100%;
}

.inputContent label div {
  margin-right: .5rem;
}

.inputContent label div input {
  padding: .68rem .2rem;
  width: 100%;
  border-radius: 1.4rem 0 0 1.4rem;
  border: 1px solid;
  border-color: #e3e4e6;
  font-size: 14px;
}

.inputContent label div input {
  font-size: 14px;
}

.buttonConetnt {
  flex: 0 1 10%;
}

.buttonConetnt button {
  border-radius: 0px 1.4rem 1.4rem 0px;
  background: #e3e4e6;
  border: 1px solid #e3e4e6;
  padding: .185rem;
}

.buttonConetnt button div {
  display: flex;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  align-content: center;
  width: 100%;
}

.buttonConetnt button svg {
  height: 25px;
  width: 25px;
}

@media screen and (min-width: 930px) {
  .chatContainer {
    justify-content: space-between;
    height: calc(25.75vw + 25px + 10px);
    min-height: calc(257.5px + 25px + 10px);
    max-height: calc(calc(95vh - 50px) + 25px + 25px);
  }
  .liveChatContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    padding: 0 1rem;
    margin-bottom: .5rem;
  }
  .chatContent {
    flex: 1;
    background: whitesmoke;
    font-size: 1rem;
    height: 84%;
  }
  .chatArea {
    flex: 1;
    height: auto;
    overflow-y: scroll;
  }
  .chatArea::-webkit-scrollbar {
    width: 4px;
  }
  .chatArea::-webkit-scrollbar-thumb {
    background: #888;
  }
  .chatArea::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .chatBubble {
    align-items: center;
    padding: 1rem;
    margin: 0;
    border-radius: 0;
    background-color: unset;
    color: black;
    border-bottom: 1px solid #e0e0e0;
  }
  .profileIcon {
    display: initial;
  }
  .chatUser {
    font-size: .75rem;
  }
  .inputChatContent {
    margin: 0;
    padding: 1rem .5rem .1rem .5rem;
  }
  .inputContent label div {
    margin-right: 0;
  }
  .inputContent label div input {
    border-bottom: 1px solid gray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 1rem .2rem;
    font-size: 1rem;
  }
  .inputContent {
    margin-right: 10px;
    flex: 0 1 calc(90% - .4rem);
  }
  .buttonConetnt {
    text-align: end;
  }
  .buttonConetnt button {
    border-radius: 0;
  }
  .buttonConetnt button div svg {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 930px) {
  .chatContainer {
    height: calc(33.75vw + 25px + 10px);
    min-height: calc(337.5px + 25px + 10px);
  }
}

@media screen and (min-width: 1060px) {
  .chatContainer {
    height: calc(31.75vw + 25px + 10px);
    min-height: calc(317.5px + 25px + 10px);
  }
}

@media screen and (min-width: 1140px) {
  .chatContainer {
    height: calc(29.75vw + 25px + 10px);
    min-height: calc(297.5px + 25px + 10px);
  }
}

@media screen and (min-width: 1200px) {
  .chatContainer {
    height: calc(34.75vw + 25px + 10px);
    min-height: calc(347.5px + 25px + 10px);
  }
}

@media screen and (min-width: 1440px) {
  .chatContainer {
    height: calc(28.75vw + 25px + 10px);
    min-height: calc(287.5px + 25px + 10px);
  }
}

@media screen and (min-width: 1920px) {
  .chatContainer {
    height: calc(21.75vw + 25px + 10px);
    min-height: calc(217.5px + 25px + 10px);
  }
}

@media screen and (min-width: 2560px) {
  .chatContainer {
    height: calc(16.75vw + 25px + 10px);
    min-height: calc(167.5px + 25px + 10px);
  }
}

@media screen and (min-width: 2560px) {
  .chatContainer {
    height: calc(11vw + 25px + 10px);
    min-height: calc(11px + 25px + 10px);
  }
}
