.verticalProductSliderContent {
  width: 100%;
  height: 100%;
}

.verticalProductSliderTitle {
  background-color: #c8c8c8;
  padding: 14px;
  margin: 0;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.title {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}

.productList {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productList::-webkit-scrollbar {
  width: 4px;
}

.productList::-webkit-scrollbar-thumb {
  background: #888;
}

.productList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.productItemContent {
  max-width: 200px;
  box-shadow: 0 0 5px #55555536;
  background-color: white;
  margin-bottom: 10px;
  padding: 0.5rem 0;
  min-width: 200px;
}

.productLink {
  text-decoration: none;
}

.pictureContent {
  text-align: center;
}

.picture {
  max-height: 120px;
  mix-blend-mode: unset !important;
}

.productDeatailContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}

.productTitle {
  font-weight: 600;
  font-size: 16px;
  color: gray;
  margin: 10px 0;
  text-align: center;
  padding: 0 5px;
}

.price {
  text-decoration: line-through;
  color: #444;
  font-size: 14px;
}

.priceWithDiscount {
  color: gray;
  font-size: 15px;
}

.productAddCartContent {
  display: flex;
  align-items: center;
  width: 70%;
  margin-top: 1rem;
  flex-direction: column;
}

.noActive {
  background: #e3e4e6;
  color: #cecfd2 !important;
}

.noActive:hover {
  cursor: default !important;
  background: #e3e4e6;
}

.horizontalProductContainer {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
}

.horizontalProductListContent {
  display: flex;
  justify-content: space-around;
  overflow-x: hidden;
  max-width: 100%;
}

.horizontalProductList {
  flex: 0 1 calc(25% - 1rem);
  display: flex;
  justify-content: center;
}

.arrowLeft {
  position: absolute;
  height: 40%;
  border: 0;
  background: rgba(180, 180, 180, 0.4);
  box-shadow: 0 0 5px #55555536;
  top: 30%;
  left: 0;
  transform: rotate(180deg);
}

.arrowLeft:hover {
  cursor: pointer;
  background: rgba(245, 245, 245, 0.7);
}

.arrowRight {
  position: absolute;
  height: 40%;
  border: 0;
  background: rgba(180, 180, 180, 0.4);
  box-shadow: 0 0 5px #55555536;
  top: 30%;
  right: 0;
}

.arrowRight:hover {
  cursor: pointer;
  background: rgba(245, 245, 245, 0.7);
}

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}

.buttonMobile {
  color: white;
  background-color: #808080;
  opacity: 0.9;
  padding: 4px 10px !important;
  border-radius: 64px;
  font-size: 12px;
  border: unset;
}

.sliderProductMobileContainer {
  opacity: 0.5;
  pointer-events: auto;
  transition: opacity 300ms ease 0s;
  z-index: 999;
  position: fixed;
  background-color: #3f3f40;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.sliderProductMobileContent {
  width: 50%;
  max-width: 450px;
  min-width: 230px;
  pointer-events: auto;
  transform: translate3d(0%, 0px, 0px);
  position: fixed;
  z-index: 1300;
  inset: 0px;
  flex-direction: column;
  display: flex;
  background-color: #fff;
}

.closeContent {
  display: flex;
  box-sizing: border-box;
  font-size: 16px;
}

.buttonClose {
  background-color: #c8c8c8;
  padding: 0.75rem;
  border-style: none;
  border-width: 0;
  text-transform: none;
}

@media screen and (min-width: 930px) {
  .horizontalProductContainer {
    display: initial;
  }

  .buttonMobile {
    display: none;
  }
}