.verticalProductSliderContent {
  background: #f8f7fc !important;
  width: 100% !important;
  height: 100%;
}

.verticalProductSliderTitle {
  display: flex !important;
  align-items: center !important;
  padding: 0 6px !important;
  height: 56px !important;
}

.title {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}

.productList {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.productList::-webkit-scrollbar {
  width: 4px;
}

.productList::-webkit-scrollbar-thumb {
  background: #888;
}

.productList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.productItemContent {
  display: flex;
  align-items: center;
  max-width: 100%;
  min-width: 100%;
  box-shadow: 0 0 5px #55555536;
  background-color: white;
  margin: 5px 0;
  padding: 0.5rem 2px;
  border-radius: 6px;
}

.productLink {
  text-decoration: none;
}

.pictureContent {
  text-align: center;
}

.picture {
  min-height: 80px;
  max-height: 80px;
  max-width: 100px;
  min-width: 100px;
  mix-blend-mode: unset !important;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.productDeatailContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}

.flexAlignItemsCenter {
  flex-direction: center !important;
}

.productTitle {
  font-weight: 600;
  font-size: 14px;
  color: gray;
  margin: 10px 0;
  text-align: start;
  padding: 0;
}

.price {
  text-decoration: line-through;
  color: #444;
  font-size: 12px;
}

.priceWithDiscount {
  color: gray;
  font-size: 12px;
  white-space: nowrap;
}

.productAddCartContent {
  display: flex !important;
  align-items: center !important;
  margin-top: 1rem !important;
  flex-direction: column !important;
}

.noActive {
  background: #e3e4e6;
  color: #cecfd2 !important;
}

.noActive:hover {
  cursor: default !important;
  background: #e3e4e6;
}

.horizontalProductContainer {
  display: none;
  position: relative;
  width: 100%;
  height: 190px;
  background: #f8f7fc !important;
  padding: 0 10px;
}

.chatCarouselContainer {
  position: absolute !important;
  width: 85% !important;
  bottom: 60px !important;
  height: 90px !important;
  display: flex !important;
  overflow-x: auto !important;
  z-index: 3 !important;
}

.chatCarouselContainer .productAddCartContent {
  display: none !important;
}

.chatCarouselContainer .horizontalProductList {
  margin: 0 5px !important;
}

.chatCarouselContainer .productItemContent {
  flex-direction: column !important;
  min-width: unset !important;
  width: 66px !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}

.chatCarouselContainer .productItemContent .pictureContent {
  overflow: hidden !important;
  display: flex !important;
  align-items: center !important;
}

.chatCarouselContainer .productItemContent .pictureContent .productLink {
  margin: 0 auto !important;
}

.chatCarouselContainer .productItemContent .picture {
  min-width: unset !important;
  min-height: unset !important;
  max-height: unset !important;
  height: auto !important;
  width: 100% !important;
  overflow: hidden !important;
  height: 60px !important;
}

.horizontalProductListContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  overflow: hidden;
  max-width: 100%;
  padding: 8px 0;
}

.horizontalProductList {
  flex: 0 1 calc(40% - 1rem);
  display: flex;
  justify-content: center;
}

.arrowLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 50px;
  width: 40px;
  border: 0;
  background: rgba(180, 180, 180, 0.4);
  box-shadow: 0 0 5px #55555536;
  top: 36%;
  left: 0;
  transform: rotate(180deg);
}

.arrowLeft:hover {
  cursor: pointer;
  background: rgba(245, 245, 245, 0.7);
}

.arrowRight {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 50px;
  width: 40px;
  border: 0;
  background: rgba(180, 180, 180, 0.4);
  box-shadow: 0 0 5px #55555536;
  top: 36%;
  right: 0;
}

.arrowRight:hover {
  cursor: pointer;
  background: rgba(245, 245, 245, 0.7);
}

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}

.buttonMobile {
  color: white !important;
  background-color: #808080 !important;
  opacity: 0.9 !important;
  padding: 4px 10px !important;
  border-radius: 64px !important;
  font-size: 12px !important;
  border: unset !important;
}

.sliderProductMobileContainer {
  opacity: 0.5;
  pointer-events: auto;
  transition: opacity 300ms ease 0s;
  z-index: 999;
  position: fixed;
  background-color: #3f3f40;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.sliderProductMobileContent {
  width: 50%;
  max-width: 450px;
  min-width: 260px;
  pointer-events: auto;
  transform: translate3d(0%, 0px, 0px);
  position: fixed;
  z-index: 999;
  inset: 0px;
  flex-direction: column;
  display: flex;
  background-color: #fff;
}

.closeContent {
  display: flex;
  box-sizing: border-box;
  font-size: 16px;
}

.buttonClose {
  background-color: #c8c8c8;
  padding: 0.75rem;
  border-style: none;
  border-width: 0;
  text-transform: none;
}

@media screen and (min-width: 930px) {
  .verticalProductSliderContent {
    width: 100% !important;
  }

  .horizontalProductContainer {
    display: initial;
  }

  .buttonMobile {
    display: none !important;
  }
}

.loader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
