.black {
  background: rgba(0, 0, 0, 0.5);
}

.white {
  background: #ffffff;
}

.highlightProductContainer {
  width: 96%;
  position: absolute;
  top: 60px;
  height: 86px;
  border-radius: 0.5rem;
  z-index: 1;
  right: 4px;
  left: 6px;
  box-shadow: 0px 10px 10px -6px black;
}

.closeCardBtnWhite {
  background: white !important;
  color: black;
  right: -4px;
  top: -6px;
  box-shadow: 0px 10px 10px -6px black;
}

.closeCardBtnBlack {
  background: transparent;
  color: white;
  box-shadow: none;
  top: -4px;
  right: -2px;
}

.closeCardBtn {
  border: none;
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-radius: 50%;
}

.closeCardBtn:hover {
  cursor: pointer;
}

.productContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100%;
  padding: 0 0.4rem;
}

.productPicture {
  width: 70px;
  height: 70px;
  object-fit: fill;
  border-radius: 0.3rem 0 0.3rem 0.3rem;
}

.productInfo {
  flex: 1;
  padding-left: 1rem;
}

.productInfo p {
  font-size: 13px;
  margin: 0.2rem 0;
}

.productTitle {
  font-size: 15px !important;
  margin-top: 0.2rem !important;
  margin-bottom: 0.5rem !important;
}

.productPriceContainer {
  display: flex;
  justify-content: space-between;
}

.productAddCartContent {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}

.productDiscounted {
  font-weight: bold;
}

.productPrice {
  text-decoration: line-through;
}

.textWhite {
  color: white;
}

.textBlack {
  color: black;
}

@media screen and (min-width: 930px) {
  .highlightProductContainer {
    width: 60%;
    top: 40px;
    left: 1rem;
  }
}
