.likeWrapper {
  position: relative;
  user-select: none;
}

.likeButton {
  display: block;
  border: none;
  color: white;
  background: none;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
}


