.likeWrapper {
  position: relative !important;
  user-select: none !important
  ;
}

.likeButton {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white !important;
  background: none !important;
  outline: none !important;
  cursor: pointer !important;
  border: none !important;
}

@media screen and (min-width: 568px) {
  .likeButton {
    height: 44px !important;
    width: 44px !important;
    border-radius: 21.75px !important;
    border: 1px solid #ffffff !important;
    background-color: rgba(50, 56, 69, 0.32) !important;
  }
}
