.modal {
  z-index: 10000;
}

.modalMain {
  position: fixed;
  background: white;
  height: auto;
  border-radius: 0.5rem;
  padding: 3.2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  min-width: 280px;
  max-width: 280px;
  box-sizing: border-box;
  font: 400 16px Arial;
  word-break: break-word;
  bottom: 10%;
}

.modalClose {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.5rem;
}

.buttonClose {
  background: transparent;
  border: 0;
  width: auto;
  height: auto;
  padding: 0;
}

.buttonClose:hover {
  cursor: pointer;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.modalMainMobile {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  top: 30%;
  max-width: 90%;
  bottom: auto;
}
