.modal {
  z-index: 999 !important;
}

.modalMain {
  position: fixed !important;
  background: white !important;
  height: auto !important;
  border-radius: 0.5rem !important;
  padding: 3.2rem !important;
  border: 0.1rem solid rgba(0, 0, 0, 0.2) !important;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px !important;
  width: 280px !important;
  box-sizing: border-box !important;
  font: 400 16px Arial !important;
  word-break: break-word !important;
  bottom: 10% !important;
}

.modalClose {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  padding: 1.5rem !important;
}

.buttonClose {
  background: transparent;
  border: 0;
  width: auto;
  height: auto;
  padding: 0;
}

.buttonClose:hover {
  cursor: pointer;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.modalMainMobile {
  right: 0 !important;
  left: 0 !important;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 90% !important;
  top: 30% !important;
  max-width: 90% !important;
  bottom: auto !important;
}
