.heightPopoup {
  height: 100% !important;
}

.displayNone {
  display: none;
}

.livestreaming {
  height: 100%;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.livestreamingContainer {
  height: 100%;
  width: 100%;
}

.livestreamingContent {
  display: flex;
  justify-content: center;
  height: 71vh;
  position: relative;
  width: 100%;
}

.livePopoup {
  position: fixed;
  height: 100%;
  z-index: 100;
  inset: 0px;
}

.sliderProductContent {
  display: none;
}

.videoContent {
  position: relative;
  width: 100%;
}

.feedHeader {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  z-index: 3;
}

.leftHeader {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: flex-start;
}

.rightHeader {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  padding-right: 10px;
  justify-content: flex-end;
}

.chatContent {
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  width: 100%;
  height: auto;
  max-height: none;
  z-index: 3;
}

.closePopoup {
  background-color: #808080;
  border-radius: 500%;
  display: flex;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-left: 5px;
}

@media screen and (min-width: 930px) {
  .livestreamingContent {
    height: auto;
  }

  .livestreamingPopoup {
    position: fixed;
    inset: 0px;
    z-index: 999;
  }

  .livestreamingPopoupContainer {
    width: 100%;
    display: flex;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .livePopoup {
    height: 90%;
    border-radius: 4px;
    position: relative;
    z-index: 999;
    bottom: 0;
    background: #ffffff;
  }

  .sliderProductContent {
    display: initial;
    position: relative;
    flex: 0 1 23.44%;
  }

  .videoContainer {
    position: relative;
    flex: 0 1 52.34%;
  }

  .videoContainerVertical {
    flex: 0;
  }

  .feedHeader {
    top: 10px;
  }

  .leftHeader {
    justify-content: space-between;
    flex: 1;
  }

  .rightHeader {
    display: none;
  }

  .chatContent {
    position: relative;
    flex: 0 1 24.22%;
    bottom: 0;
    left: 0;
    z-index: auto;
  }

  .flexAuto {
    flex: 1;
  }

  .closePopoupDeskotp {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 500%;
    display: flex;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    color: #000000;
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 1;
  }

  .backdropContainer {
    opacity: 0.5;
    pointer-events: auto;
    transition: opacity 300ms ease 0s;
    position: fixed;
    background-color: #3f3f40;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }

  .videoContainerPopoup {
    width: 44vw !important;
  }
}
