.giphySearchBoxContainer {
  position: absolute !important;
  width: 100% !important;
  height: auto !important;
  z-index: 100 !important;
  bottom: 55px !important;
  left: 0px !important;
  background: white !important;
  padding-top: 10px !important;
  border-radius: 10px 10px 0 0 !important;
  margin: auto !important;
}

.giphySearchBoxWrapper {
  margin: auto;
}

.giphySearchBoxSearchForm {
}

.giphySearchBoxlistWrapper {
  height: 150px !important;
  scrollbar-width: thin !important;
}

.giphySearchBoxlistItem {
  border-radius: 5px !important;
  overflow: hidden;
}

.giphySearchBoxlistWrapper::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .giphySearchBoxlistWrapper {
    height: 100px !important;
    scrollbar-width: thin !important;
  }

  .giphySearchBoxContainer {
    width: auto !important;
    padding: 10px !important;
  }
}
