.answerContainer {
  box-sizing: border-box;
  margin-bottom: 7px;
  list-style: initial;
  margin-left: 2.5rem;
}

.buttonContenModal {
  display: flex !important;
  justify-content: flex-end !important;
}

.timeContent {
  display: flex !important;
  justify-content: flex-end !important;
  margin-bottom: 1rem !important;
}

.answerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answerText {
  flex: 1;
}

.answerVotes {
  flex: 1;
  box-sizing: border-box;
}

.buttonContenModal > button {
  color: #001738 !important;
  font-weight: bolder !important;
  text-align: center !important;
  font-size: 14px !important;
  text-transform: uppercase !important;
  background: #e3e4e6 !important;
  border-radius: 8px !important;
  text-decoration: none !important;
  border: 0 !important;
  box-sizing: border-box !important;
  padding: 10px 15px !important;
}

.buttonContenModal > button:hover {
  cursor: pointer !important;
}

.buttonContenModal > button:disabled {
  color: #979899 !important;
  cursor: default !important;
}

.errorMessageContainer {
  margin-bottom: 5px;
}

.errorMessage {
  text-transform: initial;
  letter-spacing: 0;
  color: #e13232;
  text-align: left;
  width: 100%;
  margin: 8px 0px 0px 0px;
}

.checkbox > input {
  margin-right: 2px;
  padding: 2px;
}
