.appContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.videoContainer{
  position: relative;
  flex: 0 1 calc(70% - .3rem);
}

.videoContent {
  width: 100%;
}

.likeContent{
  position: absolute;
  bottom: 0.3rem;
  right: 1rem;
}

.viewersContent{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.liveContent{
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.chatContent {
  flex: 0 1 calc(30% - .3rem);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .appContent {
    flex-direction: column;
  }

  .likeContent{
    bottom: 0rem;
    right: 0.2rem;
  }

  .chatContent {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
  }
}

@media all and (max-width: 760px) {
  .likeIconContainer--like-btn {
    padding-bottom: 10px;
  }
  .subContainer--chat {
    max-width: 200px;
    width: auto !important;
  }
}
