.appContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.videoContainer{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoContent {
  width: 70%;
  height: 100%;
}

.likeContent{
  position: absolute;
  bottom: 0.3rem;
  right: 31%;
}

.viewersContent{
  position: absolute;
  top: 0.6rem;
  right: 31%;
}

.liveContent{
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.chatContent {
  width: 30%;
  height: 100%;
  max-height: 80vh;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 578px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .appContent {
    flex-direction: column;
  }

  .videoContent {
    width: 100%;
  }

  .likeContent{
    bottom: 0rem;
    right: 0.2rem;
  }

  .viewersContent{
    position: absolute;
    top: 0.6rem;
    right: 0.2rem
  }

  .chatContent {
    position: absolute;
    bottom: 4rem;
    left: 0.5rem;
    width: 50%;
    height: 22%;
    max-height: none;
  }
}

@media only screen and (min-device-width: 640px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .appContent {
    flex-direction: column;
  }

  .videoContent {
    width: 100%;
  }

  .likeContent{
    bottom: 0.3rem;
    right: 1rem;
  }

  .viewersContent{
    position: absolute;
    top: 0.6rem;
    right: 1rem
  }

  .chatContent {
    position: absolute;
    bottom: 4rem;
    left: 0.5rem;
    width: 50%;
    height: 22%;
    max-height: none;
  }

}
