body {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  margin: 0;
  font-size: 1rem;
}

input,
button {
  outline: none;
}

input[type='text'] {
  font-size: 16px;
}

input[type='text']:focus {
  font-size: 16px;
}

.livestreaming {
  height: 100%;
  margin-bottom: 1rem;
}

.livestreamingContent {
  display: flex;
  justify-content: space-between;
  /*height: 71vh;*/
  position: relative;
}

.videoContainer {
  flex: 1;
}

.videoContent {
  position: relative;
  width: 100%;
}

.likeContent {
  position: absolute;
  bottom: 16px;
  right: 20px;
}

.viewersContent {
  position: absolute;
  top: 0.6rem;
  right: 1rem;
}

.liveContent {
  position: absolute;
  top: 2rem;
  left: 1rem;
}

.chatContent {
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  width: 50%;
  height: auto;
  max-height: none;
}

.buttonProductContent {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  z-index: 1;
}

.sliderProductContent {
  display: none;
}

@media screen and (min-width: 930px) {
  .livestreamingContent {
    height: auto;
  }

  .videoContainer {
    position: relative;
    width: 100%;
    flex: 0 1 70%;
  }

  .videoContainerChat {
    flex: 0 1 75% !important;
  }

  .videoContainerProducts {
    flex: 0 1 95% !important;
  }

  .videoContainerFull {
    flex: 1 !important;
  }

  .chatContent {
    flex: 0 1 25%;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .sliderProductContent {
    flex: 0 1 5%;
    position: relative;
    width: 100%;
    display: initial;
  }

  .displayNone {
    display: none;
  }

  .horizontalProductsContent {
    display: flex;
    justify-content: center;
    padding: 0 10px;
  }

  .videoContentOption {
    position: relative;
    width: 100%;
  }

  .fittedContainer {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
  }
}

/* Styles video streaming */

.playerUi {
  position: relative;
  width: 100%;
  background-color: black;
  padding-bottom: 56.25%;
}

.playerVideoEl {
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  height: 100%;
}

.playerVideoMobile {
  display: none;
}

.playerVideoMobileFullscreen {
  display: none;
}

.playerVideoMobilePicture {
  display: none;
}

.playerVideoHover {
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  transition: display 1s;
}

.playerVideoHover[data-visible='Buffering'] {
  display: grid;
}

.playerVideoHover[data-visible='on'] {
  display: grid;
  background: rgba(255, 255, 255, 0);
  background: -webkit-linear-gradient(
    0deg,
    #040008 0%,
    rgba(255, 255, 255, 0) 50%,
    #040008 100%
  );
  background: linear-gradient(
    0deg,
    #040008 0%,
    rgba(255, 255, 255, 0) 50%,
    #040008 100%
  );
}

.playerVideoHover[data-visible='off'] {
  display: none;
}

.playerVideoGrid {
  display: grid;
  grid-template-columns: 22px 43.5px 87px auto 100px auto 43.5px 10px 43.5px 10px 43.5px 22px;
  grid-template-rows: 10% auto 100px auto 43.5px 17px;
}

.playerVideoButtonFlex {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 42px;
  width: 42px;
  border: 1px solid #ffffff;
  background-color: rgba(50, 56, 69, 0.32);
  border-radius: 21.75px;
}

.playerVideoPictureButtonPosition {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 6;
}

.playerVideoFullscreenButtonPosition {
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;
}

.playerVideoLikeButtonPosition {
  grid-column-start: 11;
  grid-column-end: 12;
  grid-row-start: 5;
  grid-row-end: 6;
}

.playerVideoMuteButtonPosition {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.playerVideoCentralButtonPosition {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

.playerVideoCentralButtonBackground {
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  cursor: pointer;
}

.playerVideoCentralButtonBackground[data-status='Buffering'] {
  -webkit-animation: spin 0.5s linear infinite;
  -moz-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 578px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .likeContent {
    bottom: 20px;
    right: 50px;
  }
  .viewersContent {
    position: absolute;
    top: 0.9rem;
    left: 5rem;
  }
}

@media only screen and (min-device-width: 640px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .likeContent {
    bottom: -0.6rem;
    right: 1rem;
  }
  .viewersContent {
    position: absolute;
    top: 0.9rem;
    left: 5rem;
  }
}

@media (min-width: 414px) and (max-width: 1025px) {
  .likeContent {
    bottom: 17px;
    right: 20px;
  }
  .viewersContent {
    right: 1rem;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .playerUi {
    position: relative;
    width: 100%;
    /*height: 71vh !important;*/
    background-color: black;
    padding: 0 !important;
    /*max-height: 71vh !important;*/
  }
  .playerVideoHover {
    display: none !important;
  }
  .playerVideoMobile {
    display: grid;
    position: absolute;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    grid-template-columns: auto 95px 42px 42px 45px 0.4rem;
    grid-template-rows: auto 58px auto 36px 1rem;
  }
  .playerVideoMobileMuted {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .playerVideoMobileOptions {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .playerVideoMobileOptionsContent {
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    transition: all 0.3s ease;
  }
  .playerVideoMobileFullscreen {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .playerVideoMobilePicture {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .playerVideoMuteButtonPosition {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .playerVideoMobileOptionsContent[data-display='false'] {
    transform: scale(0);
    transform-origin: 85% bottom;
  }

  .playerVideoMobileOptionsContent[data-display='true'] {
    transform: scale(1);
  }
}

@media screen and (min-width: 640px) {
  .playerVideoEl {
    height: auto;
  }
}
