body {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  margin: 0;
  font-size: 1rem;
}

input,
button {
  outline: none;
}

input[type='text'] {
  font-size: 16px;
}

input[type='text']:focus {
  font-size: 16px;
}

.liveShoppingContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.likeContent {
  position: absolute;
  bottom: 17px;
  right: 21px;
}

.likeContentVertical {
  position: absolute;
  bottom: 12px;
  right: 50px;
}

.sliderProductContent {
  display: none;
}

@media screen and (min-width: 930px) {
  .livestreamingContent {
    height: auto;
  }

  .sliderProductContent {
    position: relative;
    width: auto;
    display: initial;
  }

  .horizontalProductsContent {
    display: flex;
    justify-content: center;
  }

  .fittedContainer {
    position: absolute;
  }
}

.playerVideoHover {
  position: absolute !important;
  max-width: 100% !important;
  min-width: 100% !important;
  height: 100% !important;
  transition: display 1s !important;
}

.playerVideoMobile {
  display: grid;
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  grid-template-columns: auto 95px 38px 38px 38px 0.4rem;
  grid-template-rows: auto 58px auto 36px 1rem;
  inset: 0;
  z-index: 2;
}

.playerVideoMobileMuteButtonPosition {
  color: #ffffff;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.playerVideoMobileVolumeRangePosition {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.playerVideoMobileMuteButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.playerVideoMobileLikeButtonPosition {
  display: flex !important;
  flex-direction: column-reverse !important;
  justify-content: center !important;
  align-items: flex-start !important;
  color: #ffffff !important;
  grid-column-start: 4 !important;
  grid-column-end: 5 !important;
  grid-row-start: 4 !important;
  grid-row-end: 5 !important;
}

.playerVideoMobileCarouselButtonPosition {
  display: none !important;
}

.playerVideoMobileCarouselButtonPosition svg {
  margin: auto !important;
}

.playerVideoMobileMuted {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  color: #ffffff !important;
  grid-column-start: 1 !important;
  grid-column-end: 7 !important;
  grid-row-start: 2 !important;
  grid-row-end: 3 !important;
}
.playerVideoMobileOptions {
  display: flex !important;
  flex-direction: column-reverse !important;
  justify-content: center !important;
  align-items: flex-start !important;
  color: #ffffff !important;
  grid-column-start: 5 !important;
  grid-column-end: 6 !important;
  grid-row-start: 4 !important;
  grid-row-end: 5 !important;
  z-index: 2 !important;
}
.playerVideoMobileOptionsContent {
  position: absolute !important;
  bottom: 50px !important;
  display: flex !important;
  flex-direction: column-reverse !important;
  align-items: center !important;
  transition: all 0.3s ease !important;
}
.playerVideoMobileOptionsContent div {
  border-radius: 50% !important;
  background: rgba(0,0,0,0.5) !important;
}
.playerVideoMobileFullscreen {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  color: #ffffff !important;
  margin-bottom: 10px !important;
}
.playerMobileShare {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  color: #ffffff !important;
  margin-bottom: 10px !important;
}

.playerVideoMobilePicture {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  color: #ffffff !important;
  margin-bottom: 10px !important;
}

.playerVideoMobileProgressBarPosition {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}

.playerVideoMobileProgressBarRangeStack {
  display: flex;
  align-items: flex-end;
  height: calc(100% + 3px);
}

.playerVideoMobileProgressBar::-webkit-slider-thumb {
  background: transparent !important;
}

.progressBarHeigth {
  height: 7px !important;
}

.playerVideoMuteButtonPosition {
  display: flex !important;
  color: #ffffff !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer !important;
  height: 42px !important;
  width: 42px !important;
  border: 1px solid transparent !important;
  grid-column-start: 2 !important;
  grid-column-end: 3 !important;
  grid-row-start: 5 !important;
  grid-row-end: 6 !important;
}

.playerVideoVolumeRangePosition {
  grid-column-start: 3 !important;
  grid-column-end: 4 !important;
  grid-row-start: 5 !important;
  grid-row-end: 6 !important;
}

.playerVideoVolumeRangeStack {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.playerVolumeRange {
  -webkit-appearance: none !important;
  appearance: none !important;
  background: #ededed !important;
  height: 4px !important;
  width: 100% !important;
  max-width: 100px !important;
  min-height: 4px !important;
}

.playerVolumeRange::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none !important;
  width: 5px !important;
  height: 15px !important;
  background: rgb(255, 255, 255) !important;
  cursor: pointer !important;
}

.playerVideoProgressBarPosition {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 4;
  grid-row-end: 5;
}

.playerVideoProgressBar {
  height: 4px !important;
  width: 100%;
  -webkit-appearance: none !important;
  background-color: transparent;
  border-radius: 20px;
  height: 4px;
  position: relative;
  z-index: 2;
}

.playerVideoProgressBar::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.playerVideoProgressBarRangeStack {
  display: flex;
  align-items: flex-end;
  height: calc(100% - 8px);
}

.percentProgressBar {
  height: 4px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  margin-bottom: 2px;
  z-index: 1;
  border-radius: 20px;
}

.noPercentProgressBar {
  height: 4px;
  background-color: rgb(255, 255, 255, 0.4);
  position: absolute;
  margin-bottom: 2px;
  z-index: 1;
  width: 100%;
  border-radius: 20px;
}

.playerVideoMobileMuted,
.playerVideoMobileOptions,
.playerVideoMobileFullscreen,
.playerVideoMuteButtonPosition :hover {
  cursor: pointer !important;
}

.playerVideoMobileOptionsContent[data-display='false'] {
  transform: scale(0) !important;
  transform-origin: 85% bottom !important;
}

.playerVideoMobileOptionsContent[data-display='true'] {
  transform: scale(1) !important;
}

.playerVideoHover[data-visible='Buffering'] {
  display: grid !important;
}

.playerVideoHover[data-visible='on'] {
  display: grid !important;
}

.playerVideoHover[data-visible='off'] {
  display: none !important;
}

.playerVideoButtonFlex {
  display: flex !important;
  color: #ffffff !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer !important;
  height: 42px !important;
  width: 42px !important;
  border: 1px solid #ffffff !important;
  background-color: rgba(50, 56, 69, 0.32) !important;
  border-radius: 21.75px !important;
}

.playerVideoPictureButtonPosition {
  grid-column-start: 7 !important;
  grid-column-end: 8 !important;
  grid-row-start: 5 !important;
  grid-row-end: 6 !important;
}

.playerVideoLikeButtonPosition {
  grid-column-start: 7 !important;
  grid-column-end: 8 !important;
  grid-row-start: 5 !important;
  grid-row-end: 6 !important;
}

.playerVideoSharedButtonPosition {
  grid-column-start: 11 !important;
  grid-column-end: 12 !important;
  grid-row-start: 5 !important;
  grid-row-end: 6 !important;
}

.playerVideoFullscreenButtonPosition {
  grid-column-start: 9 !important;
  grid-column-end: 10 !important;
  grid-row-start: 5 !important;
  grid-row-end: 6 !important;
}

.playerVideoLikeButtonPosition {
  grid-column-start: 13 !important;
  grid-column-end: 13 !important;
  grid-row-start: 5 !important;
  grid-row-end: 6 !important;
}

.playerVideoCentralButtonPosition {
  grid-column-start: 5 !important;
  grid-column-end: 6 !important;
  grid-row-start: 3 !important;
  grid-row-end: 4 !important;
}

.playerVideoCentralButtonBackground {
  color: #ffffff !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-size: contain !important;
  cursor: pointer !important;
}

.playerVideoCentralButtonBackground[data-status='Buffering'] {
  -webkit-animation: spin 0.5s linear infinite !important;
  -moz-animation: spin 0.5s linear infinite !important;
  animation: spin 0.5s linear infinite !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 578px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .likeContent {
    bottom: 14px;
    right: 50px;
  }
}

@media only screen and (min-device-width: 640px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .likeContent {
    bottom: -0.6rem;
    right: 1rem;
  }
}

@media (min-width: 414px) and (max-width: 1025px) {
  .likeContent {
    bottom: 17px;
    right: 20px;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .playerVideoHover {
    display: none !important;
  }

}

@media only screen and (max-width: 600px) {
  .playerVideoMobileCarouselButtonPosition {
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: center !important;
    align-items: flex-start !important;
    color: #ffffff !important;
    grid-column-start: 3 !important;
    grid-column-end: 4 !important;
    grid-row-start: 4 !important;
    grid-row-end: 5 !important;
    position: absolute !important;
    bottom: 22px !important;
    right: 90px !important;
    z-index: 2 !important;
  }
}
