body {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  margin: 0;
  font-size: 1rem;
}

input,
button {
  outline: none;
}

input[type='text'] {
  font-size: 16px;
}

input[type='text']:focus {
  font-size: 16px;
}


.likeContent {
  position: absolute;
  bottom: 17px;
  right: 21px;
}

.likeContentVertical {
  position: absolute;
  bottom: 12px;
  right: 50px;
}

.chatContent {
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  width: 50%;
  height: auto;
  max-height: none;
}

.sliderProductContent {
  display: none;
}

@media screen and (min-width: 930px) {
  .livestreamingContent {
    height: auto;
  }

  .videoContainer {
    position: relative;
    max-width: 44vw;
  }

  .chatContent {
    position: relative;
    width: auto;
    bottom: 0;
    left: 0;
  }

  .sliderProductContent {
    position: relative;
    width: auto;
    display: initial;
  }

  .horizontalProductsContent {
    display: flex;
    justify-content: center;
  }

  .fittedContainer {
    position: absolute;
  }
}

/* Styles video streaming */
.playerVideoEl {
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  height: 100%;
  z-index: 1;
}

.playerVideoHover {
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  transition: display 1s;
}

.playerVideoMobile {
  display: grid;
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  grid-template-columns: auto 95px 42px 42px 45px 0.4rem;
  grid-template-rows: auto 58px auto 36px 1rem;
}

.playerVideoMobileMuteButtonPosition {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.playerVideoMobileVolumeRangePosition {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.playerVideoMobileLikeButtonPosition {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

.playerVideoMobileMuted {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}
.playerVideoMobileOptions {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}
.playerVideoMobileOptionsContent {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  transition: all 0.3s ease;
}
.playerVideoMobileFullscreen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  margin-bottom: 10px;
}
.playerMobileShare {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  margin-bottom: 10px;
}

.playerVideoMobilePicture {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  margin-bottom: 10px;
}

.playerVideoMobileProgressBarPosition {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}

.playerVideoMobileProgressBarRangeStack {
  display: flex;
  align-items: flex-end;
  height: calc(100% + 3px);
}

.playerVideoMobileProgressBar::-webkit-slider-thumb {
  background: transparent !important;
}

.progressBarHeigth {
  height: 7px !important;
}

.playerVideoMuteButtonPosition {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 42px;
  width: 42px;
  border: 1px solid transparent;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.playerVideoVolumeRangePosition {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

.playerVideoVolumeRangeStack {
  display: flex;
  align-items: center;
}

.playerVolumeRange {
  -webkit-appearance: none;
  appearance: none;
  background: #ededed;
  height: 4px !important;
  width: 100%;
  max-width: 100px;
  min-height: 4px !important;
}

.playerVolumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 15px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

.playerVideoProgressBarPosition {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 4;
  grid-row-end: 5;
}

.playerVideoProgressBar {
  height: 4px !important;
  width: 100%;
  -webkit-appearance: none !important;
  background-color: transparent;
  border-radius: 20px;
  height: 4px;
  position: relative;
  z-index: 2;
}

.playerVideoProgressBar::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.playerVideoProgressBarRangeStack {
  display: flex;
  align-items: flex-end;
  height: calc(100% - 8px);
}

.percentProgressBar {
  height: 4px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  margin-bottom: 2px;
  z-index: 1;
  border-radius: 20px;
}

.noPercentProgressBar {
  height: 4px;
  background-color: rgb(255, 255, 255, 0.4);
  position: absolute;
  margin-bottom: 2px;
  z-index: 1;
  width: 100%;
  border-radius: 20px;
}

.playerVideoMobileMuted,
.playerVideoMobileOptions,
.playerVideoMobileFullscreen,
.playerVideoMuteButtonPosition :hover {
  cursor: pointer;
}

.playerVideoMobileOptionsContent[data-display='false'] {
  transform: scale(0);
  transform-origin: 85% bottom;
}

.playerVideoMobileOptionsContent[data-display='true'] {
  transform: scale(1);
}

.playerVideoHover[data-visible='Buffering'] {
  display: grid;
}

.playerVideoHover[data-visible='on'] {
  display: grid;
}

.playerVideoHover[data-visible='off'] {
  display: none;
}

.playerVideoGrid {
  display: grid;
  grid-template-columns:22px 43.5px 144px auto 95px auto 43.5px 10px 43.5px 10px 43.5px 10px 43.5px 22px;
  grid-template-rows: 10% auto 100px auto 43.5px 17px;
  position: relative;
  max-width: 100%;
  min-width: 100%;
  z-index: 2;
}

.playerVideoButtonFlex {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 42px;
  width: 42px;
  border: 1px solid #ffffff;
  background-color: rgba(50, 56, 69, 0.32);
  border-radius: 21.75px;
}

.playerVideoPictureButtonPosition {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 6;
}

.playerVideoLikeButtonPosition {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 6;
}

.playerVideoSharedButtonPosition {
  grid-column-start: 11;
  grid-column-end: 12;
  grid-row-start: 5;
  grid-row-end: 6;
}

.playerVideoFullscreenButtonPosition {
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;
}

.playerVideoLikeButtonPosition {
  grid-column-start: 13;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 6;
}

.playerVideoCentralButtonPosition {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

.playerVideoCentralButtonBackground {
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  cursor: pointer;
}

.playerVideoCentralButtonBackground[data-status='Buffering'] {
  -webkit-animation: spin 0.5s linear infinite;
  -moz-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 578px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .likeContent {
    bottom: 14px;
    right: 50px;
  }
}

@media only screen and (min-device-width: 640px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .likeContent {
    bottom: -0.6rem;
    right: 1rem;
  }
}

@media (min-width: 414px) and (max-width: 1025px) {
  .likeContent {
    bottom: 17px;
    right: 20px;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .playerVideoHover {
    display: none !important;
  }
}
